#footer=  ' Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' |'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo |
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <br/><i class="fa fa-eye" aria-hidden="true"></i>遇到过<span id="busuanzi_value_site_pv"></span>个人才等到你❤
